* {
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

html, body {
  margin: 0;
  padding: 0;
  font-family: "Interstate", Tahoma, Verdana, Segoe, sans-serif;
  background-color: #010208;
  color: #ffffff; }

a, a:visited {
  color: #5ad2f0; }
  a:hover, a:visited:hover {
    color: #1f556b; }

.top-bar {
  display: none; }
  @media screen and (min-width: 610px) {
    .top-bar {
      display: block;
      height: 50px;
      line-height: 50px;
      background-color: #000000;
      color: #ffffff; }
      .top-bar header {
        width: 100%;
        max-width: 870px;
        padding: 0 24px; }
        .top-bar header h1 {
          display: inline;
          font-size: 14px; }
        .top-bar header h2 {
          display: inline;
          font-size: 14px;
          font-weight: lighter; } }

.frame {
  width: 100%;
  max-width: 610px;
  margin: 0px auto;
  background-color: #010208;
  box-shadow: 80px 0px 300px 0px rgba(31, 38, 46, 0.8), -80px 0px 300px 0px rgba(31, 38, 46, 0.8);
  overflow: hidden; }
  @media screen and (min-width: 610px) {
    .frame {
      margin: 100px auto; } }

.frame-head {
  text-align: center;
  padding: 20px 0px 15px 0px; }
  .frame-head img {
    max-width: 160px;
    width: 80%;
    float: left; }
  @media screen and (min-width: 400px) {
    .frame-head {
      padding: 40px 0px 30px 0px; } }

.title {
  font-size: 24px;
  margin: 0.8em 0em 0.4em 0em; }

.frame-body {
  padding: 0px 20px; }

.sidebar {
  width: 100%; }
  @media screen and (min-width: 610px) {
    .sidebar {
      width: 33%;
      float: left;
      padding-right: 20px; } }

.main-wrap {
  width: 100%; }
  @media screen and (min-width: 610px) {
    .main-wrap {
      width: 67%;
      float: left; } }

.panel {
  background-color: #12151e;
  padding-bottom: 1em; }

.panel-head {
  font-size: 18px;
  font-weight: normal;
  font-family: "Interstate ExtraLight", Tahoma, Verdana, Segoe, sans-serif;
  background-color: #1f2534;
  margin: 0 0 1em 0;
  padding: 0.4em; }

.contents-list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #12151e; }

.contents-list li {
  font-size: 12px;
  font-weight: normal;
  font-family: "Interstate ExtraLight", Tahoma, Verdana, Segoe, sans-serif;
  margin: 0 0 0.8em 0;
  padding: 0 0.8em; }

.product h2 {
  font-size: 28px; }
.product h3 {
  font-size: 18px; }
.product ul {
  margin: 0px;
  padding: 0 0 1em 0;
  list-style: none; }

.download-label {
  font-size: 11px;
  cursor: pointer;
  text-transform: uppercase;
  color: #231f20;
  margin: 0.4em 0em 0.8em 0em; }
  .download-label:before {
    content: "";
    display: block;
    float: left;
    height: 7px;
    width: 7px;
    margin: 4px 6px 0px 0px;
    background-image: url("../img/accordion-sprite.png");
    background-repeat: none;
    background-position: 0px 0px; }
  .download-label.open:before {
    background-position: -7px 0px; }

.download-frame {
  -webkit-transition: height 0.2s ease-out;
  -khtml-transition: height 0.2s ease-out;
  -moz-transition: height 0.2s ease-out;
  -ms-transition: height 0.2s ease-out;
  -o-transition: height 0.2s ease-out;
  transition: height 0.2s ease-out;
  height: 0px;
  overflow: hidden; }

.download-frame.open {
  display: block;
  height: 200px;
  padding: 0px 20px;
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border-color: #d7d7d7;
  background-color: #ededed; }

.download_empty {
  margin-top: 58px;
  text-align: center; }
  .download_empty span {
    font-size: 18px; }
  .download_empty p {
    font-size: 14px;
    font-weight: lighter; }

.download_loading {
  margin-top: 85px;
  text-align: center; }
  .download_loading span {
    font-size: 18px; }

.download_error {
  margin-top: 58px;
  text-align: center; }
  .download_error span {
    font-size: 18px;
    color: #c21d1d; }
  .download_error p {
    font-size: 18px;
    font-weight: lighter; }

.download-title {
  font-size: 16px;
  margin: 0.8em -0.2em;
  color: #1d1d1d; }
  @media screen and (min-width: 400px) {
    .download-title {
      font-size: 20px; } }

h4 {
  display: none; }

.download {
  vertical-align: middle;
  margin-bottom: 1em; }

.download-version {
  float: left;
  font-size: 14px;
  width: 90px;
  line-height: 30px;
  margin-right: 1em;
  font-weight: normal;
  font-family: "Interstate ExtraLight", Tahoma, Verdana, Segoe, sans-serif; }

.download-link {
  float: left;
  width: 110px;
  font-weight: normal; }

.mail-icon {
  display: block;
  margin: 0.4em 0em;
  font-size: 14px; }
  @media screen and (min-width: 400px) {
    .mail-icon {
      position: relative;
      float: right;
      margin: 0.6em 0em;
      width: 36px;
      height: 19px;
      margin: 0px 0px 0px 10px;
      text-indent: -999px;
      -webkit-border-radius: 4px;
      -khtml-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      background-color: transparent;
      transition: background-color 0.2s ease; }
      .mail-icon:hover {
        background-color: #1a1a1a;
        color: green; }
        .mail-icon:hover:after {
          background-position: 0px 10px; }
      .mail-icon:after {
        content: ' ';
        position: absolute;
        top: 4px;
        left: 10px;
        width: 22px;
        height: 10px;
        background-image: url("../img/mail-sprite.png");
        background-position: 0px 0px; } }

.download-btn {
  margin-right: 1em;
  font-size: 14px; }
  @media screen and (min-width: 400px) {
    .download-btn {
      display: block;
      height: 30px;
      line-height: 30px;
      padding: 0 0.4em;
      text-decoration: none;
      border-style: solid;
      border-width: 0px 0px 2px 0px;
      border-color: #000000;
      -webkit-border-radius: 4px;
      -khtml-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      background-color: #363636;
      color: #e4e4e4;
      clear: both;
      transition: background-color 0.2s ease; }
      .download-btn span {
        float: left; }
      .download-btn:hover {
        color: #ffffff;
        background-color: #000000; }
        .download-btn:hover > div {
          background-position-y: 0px; } }

.download-btn-icon {
  display: none; }
  @media screen and (min-width: 400px) {
    .download-btn-icon {
      float: right;
      width: 26px;
      height: 22px;
      margin: 8px -7px 0px 14px;
      background-image: url("../img/dl-icon-sprite.png");
      background-repeat: no-repeat;
      transition: background-position 0.3s ease-out; }
      .download-btn-icon.icon-exe {
        background-position-x: -26px;
        background-position-y: -24px; }
      .download-btn-icon.icon-zip {
        background-position-x: 0px;
        background-position-y: -24px; } }

.frame-foot {
  font-size: 10px;
  margin-top: 4em;
  padding: 1em 2em;
  text-align: right;
  color: #6a6a6a; }

/*# sourceMappingURL=main.css.map */
