@mixin css3-prefix($property, $value) {
  -webkit-#{$property}: #{$value};
   -khtml-#{$property}: #{$value};
     -moz-#{$property}: #{$value};
      -ms-#{$property}: #{$value};
       -o-#{$property}: #{$value};
          #{$property}: #{$value};
}

$break-small: 400px;
$frame-width: 680px;


$download-height: 30px;

// Colour Pallet

$black: #010208;
$blue-black: #02040c;
$white: #ffffff;

$slate: #12151e;
$slate-light: #1f262e;
$slate-lighter: lighten($slate, 7%);
$cyan: #0095da;
$cyan-dark: #1f556b;


// Colour Abstraction

$bg: $black;
$bg-gradient: $slate-light;
$panel-bg: $slate;
$panel-head-bg: $slate-lighter;
$enviroment-bg: $blue-black;
$enviroment-head-bg: $slate;
$product-bg: $slate-lighter;

$link: $cyan;
$link-hover: $cyan-dark;
$button: $link;
$button-border: darken($button, 16%);
$button-hover: lighten($button, 20%);
$text: $white;

* {

	@include css3-prefix (box-sizing, border-box);
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
html, body {
	margin: 0;
	padding: 0;
	font-family: "Interstate", Tahoma, Verdana, Segoe, sans-serif;
	background-color: $bg;
	color: $white;

}
a, a:visited {
	color: $link;
	&:hover {
		color: $link-hover;
	}
}
// body:before {
// 	content: '';
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	display: block;
// 	width: $break-small;
// 	height: 480px;
// 	background-color: blue;
// }

.notransition {
	-webkit-transition: none !important;
	transition: none !important;
	
}
.download-btn-large.state-shrink {
	-webkit-transform: scaleY(0.3);
	transform: scaleY(0.3);
	cursor: default;
	.btn-lable {

		opacity: 0;
	}
}

.download-btn-large {
	margin-right: 1em;
	cursor: pointer;
	
	font-size: 14px;
	line-height: $download-height;
	font-weight: normal;
	font-family: "Interstate ExtraLight", Tahoma, Verdana, Segoe, sans-serif;
	@media screen and (min-width: $break-small) {
		background-color: transparent;
		font-size: 24px;
		width: 100%;
		display: block;
		line-height: 40px;
		height: 40px;
		padding: 0 0.4em;
		margin-bottom: 60px;
		text-decoration: none;
		border-style: solid;
		border-width:1px;
		border-color: $button;
		// @include css3-prefix (border-radius, 2px);
		// background-color: $button;
		color: $button;
		clear: both;
		position: relative;
		transition: background-color 0.2s ease-in,
					color 0.2s ease-in,
					transform 0.1s ease-out;

		span {
			float: left;
		}
		&:focus {
			outline: none;
		}
		&:hover {
			color: rgba($text,0.8);
			background-color: rgba($button, 0.2);
			> div {
				background-position-y: 0px;
			}
		}
	}	
}

.bar {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	background-color: $button;
	width: 0%;
	transition: width 0.6s ease-in;

	&.state-download {
		width: 100%;

	}
}


 .publicBackground {
 	background-image: url("../img/public-background.jpg");
 	background-repeat: no-repeat;
 	background-position: center top;
 	    margin-right: auto;
    margin-left: auto;
 	padding: 70px 10px 120px 10px;
 	height: 100%;
 	width: 100%;
 	@media screen and (min-width: $break-small) {
		 padding: 120px 90px 120px 90px;
	}
 }
.publicFrame {
	position: relative;
	max-width: 500px;
	padding: 0;
	margin: 0 auto;
}
.publicPanel {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 99;
	overflow: hidden;
	background-image: url("../img/public-background.jpg");
 	background-repeat: no-repeat;
 	background-position: center -120px;
 	-webkit-filter: blur(10px);
  	filter: url('/img/blur-3bb5549379e48593f5a3d3d76fbbd074.svg#blur');
  	filter: blur(10px);


}
.publicDownload-link {
	position: relative;
	z-index: 100;
	padding: 40px 40px 0px 40px;
 	// margin: 1em auto;
 	background-color: $panel-bg;
	background-color: rgba($bg, 0.6);
	border: 1px solid rgba($text, 0.2);

}
.publicPanel-head {
	margin: 1em 2em 2em 0;
	white-space: nowrap;
	overflow: hidden;
	background-image: url('../img/logo.svg');
	background-position: 50%;
  	background-repeat: no-repeat;
	@include css3-prefix (background-size, cover);
	max-height: 400px;
	max-width: 400px;

}
.publicPanel-head:before {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 11.2%;
}
.readyText {
	position: absolute;
	right: 40px;
	bottom: 92px;
	font-weight: normal;
	font-family: "Interstate ExtraLight", Tahoma, Verdana, Segoe, sans-serif;
	text-transform: uppercase;
	color: rgba($button, 0.6);
	
}
.frame {
	width: 100%;
	max-width: 880px;
	margin: 0 auto 100px auto;
	background-color: $bg;
	@media screen and (min-width: $frame-width) {
		box-shadow:  80px 0px 300px 0px rgba( $bg-gradient, .8), 
					-80px 0px 300px 0px rgba( $bg-gradient, .8);
	}
}
.frame-head {
	text-align: center;
	padding: 20px 0px;
	img {
		width:137px;
		float: left;
		margin: 20px 30px;
	}
	@media screen and (min-width: $break-small) {
		padding: 30px 0px;
	}
}

.title {
	clear: both;
	font-size: 24px;
	margin: 1.8em 0em 0.4em 0em;
	font-weight: normal;
	font-family: "Interstate ExtraLight", Tahoma, Verdana, Segoe, sans-serif;
	@media screen and (min-width: $break-small) {
		font-size: 36px;
	}
}
.frame-body {
	padding: 0px 20px;
}

.sidebar {
	width: 100%;
	margin-bottom: 20px;
	@media screen and (min-width: $frame-width) {
		width: 33%;
		float: left;
		padding-right: 20px;
	}
}
.main-wrap {
	width: 100%;
	@media screen and (min-width: $frame-width) {
		width: 67%;
		float: left;
	}

}
.panel {
	background-color: $panel-bg;
	padding-bottom: 1em;
}
.panel-head {
	font-size: 22px;
	font-weight: normal;
	font-family: "Interstate ExtraLight", Tahoma, Verdana, Segoe, sans-serif;
	background-color: $panel-head-bg;
	margin: 0 0 1em 0;
	padding: 0.4em;
}


.contents-list {
	list-style:none;
	margin: 0;
	padding: 0;
	background-color: $panel-bg;
}

.contents-list li {
	font-size: 16px;
	font-weight: normal;
	font-family: "Interstate ExtraLight", Tahoma, Verdana, Segoe, sans-serif;
	margin: 0 0 0.8em 0;
	padding: 0 0.8em;
}

.product {

	background-color: $product-bg;
	padding: 4px;
	margin-bottom: 2em;
	h2 {
	font-size: 28px;
	font-weight: normal;
	font-family: "Interstate ExtraLight", Tahoma, Verdana, Segoe, sans-serif;
	padding: 0.4em 0.4em;
	margin: 0;
	color: $text;
	}
	h3 {
		font-size: 18px;
	}
}
.enviroment {
	background-color: $enviroment-bg;
}
.enviroment-head {

	padding: 0.4em;
	background-color: $enviroment-head-bg;
	border-style: solid;
	border-width:  4px 0 1px 0 ;
	border-color: $product-bg;
}
.download {
	vertical-align: middle;
	margin-bottom: 1.4em;
	padding-left: 1em;
	@media screen and (min-width: $break-small) {
		margin-bottom: 1em;
	}
}
.download-label {
	display: none;
}
.download-version {
	font-size: 14px;
	font-weight: normal;
	font-family: monospace;
	clear: left;
	@media screen and (min-width: $break-small) {
		float: left;
		font-size: 14px;
		letter-spacing: 0.1em;
		text-align: right;
		width: 30%;
		min-width: 70px;
		line-height: $download-height;
		margin-right: 1em;

	}
}
.download-link {
	float: left;
	width: 28%;
	min-width: 80px;
	font-weight: normal;
}

.mail-icon {
	display: block;
	margin: 0.4em 0em;
	font-size: 14px;

	@media screen and (min-width: $break-small) {
		position: relative;
		float: right;
		margin: 0.6em 0em;
		width: 36px;
		height: 19px;
		margin: 0px 0px 0px 10px;
		text-indent: -999px;
		@include css3-prefix (border-radius, 4px);
		background-color: transparent;
		transition: background-color 0.2s ease;
		&:hover {
			background-color: #1a1a1a;
			color: green;
			&:after {
				background-position: 0px 10px;
			}
		}
		&:after {
		content: ' ';
		position: absolute;
		top: 4px;
		left: 10px;
		width: 22px;
		height: 10px;
		background-image: url('../img/mail-sprite.png');
		background-position: 0px 0px;
		}

	}
}

.download-btn {

	margin-right: 1em;
	font-size: 14px;
	line-height: $download-height;
	font-weight: normal;
	font-family: "Interstate ExtraLight", Tahoma, Verdana, Segoe, sans-serif;
	@media screen and (min-width: $break-small) {
		display: block;
		height: $download-height;
		padding: 0 0.4em;
		text-decoration: none;
		border-style: solid;
		border-width:1px;
		border-color: $button;
		// @include css3-prefix (border-radius, 2px);
		// background-color: $button;
		color: $button;
		clear: both;
		position: relative;
		transition: background-color 0.2s ease, transform 0.3s ease;

		span {
			float: left;
		}
		&:hover {
			color: $text;
			background-color: $button;
			> div {
				background-position-y: 0px;
			}
		}
	}	
}
.download-btn-icon {
	display: none;
	@media screen and (min-width: $break-small) {
		float: right;
		width: 26px;
		height: 22px;
		margin: 8px -7px 0px 14px;
		background-image: url('../img/dl-icon-sprite.png');
		background-repeat: no-repeat;
		transition: background-position 0.3s ease-out;
		&.icon-exe {
			background-position-x: -26px;
	    	background-position-y: -24px;
		}
		&.icon-zip {
			background-position-x: 0px;
	    	background-position-y: -24px;
		}
	}

}
.frame-foot {
	width: 100%;
	max-width: 880px;
	font-size: 10px;
	margin: 1em auto 1.4em auto;
	padding: 1em 0;
	font-weight: normal;
	font-family: "Interstate ExtraLight", Tahoma, Verdana, Segoe, sans-serif;
	text-align: right;
	color: $text;
}