@mixin css3-prefix($property, $value) {
  -webkit-#{$property}: #{$value};
   -khtml-#{$property}: #{$value};
     -moz-#{$property}: #{$value};
      -ms-#{$property}: #{$value};
       -o-#{$property}: #{$value};
          #{$property}: #{$value};
}

$break-small: 400px;
$frame-width: 610px;

* {

	@include css3-prefix (box-sizing, border-box);
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
html, body {
	margin: 0;
	padding: 0;
	font-family: "Interstate", Tahoma, Verdana, Segoe, sans-serif;
	background-color: #390b0b;

}
// body:before {
// 	content: '';
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	display: block;
// 	width: $break-small;
// 	height: 480px;
// 	background-color: blue;

// }
.top-bar {
	display:none;
	@media screen and (min-width: $frame-width) {
	
		display:block;
		height:50px;
		line-height: 50px;
		background-color: #000000;
		color: #ffffff;

		header {
			width: 100%;
			max-width: 870px;
			padding: 0 24px;

			h1 {
				display: inline;
				font-size: 14px;
			}

			h2 {
				display: inline;
				font-size: 14px;
				font-weight: lighter;
			}			
		}

	}
}

.frame {
	width: 100%;
	max-width: $frame-width;
	margin: 0px auto;
	border-style: solid;
	border-width: 1px;
	@include css3-prefix (border-radius, 2px);
	border-color: #6a6a6a;
	background-color: #ffffff;
	@include css3-prefix (box-shadow, 0px 5px 40px 0px rgba(0,0,0,0.45));
	overflow: hidden;

	@media screen and (min-width: $frame-width) {
		margin: 100px auto;
	}

}

.frame-head {

	background-color: #e6e6e6;
	text-align: center;
	padding: 20px 0px 15px 0px;
	border-bottom: 1px solid #6a6a6a;
	img {
		max-width:330px;
		width: 80%;
	}
	@media screen and (min-width: $break-small) {
		padding: 40px 0px 30px 0px;

	}
}

.frame-body {
	padding: 0px 20px;
}

.body-title {
	font-size: 24px;
	margin: 0.8em 0em 0.4em 0em;
	color: #b0b0b0;
}

.sidebar {
	width: 100%;

	@media screen and (min-width: $frame-width) {
		width: 33%;
		float: left;
		padding-right: 20px;
	}

}

.downloads-list {
	width: 100%;

	@media screen and (min-width: $frame-width) {
		width: 67%;
		float: left;
	}

}

.contents-title {
	font-size: 18px;
	color: #6a6a6a;
}

.contents-list {
	list-style:none;
	margin: 0.4em 0;
	padding: 0;
}

.contents-list li {
	font-size: 12px;
	margin: 0.4em 0;
	padding: 0;
}

.product {

	h2 {
	font-size: 28px;
	border-bottom: 1px solid;
	padding-bottom: 4px;
	color: #404041;
	}
	h3 {
		font-size: 14px;
		letter-spacing: 0.04em;
		padding: 0.1em 0.8em;
		color: #ffffff;
		background-color: #bcbdc0;
	}
	ul {
		margin: 0px;
		padding: 0px;
		list-style: none;
		li {
			margin: 0px;
			padding: 0px;
		}
	}
}
 
.download-label {
	font-size: 11px;
	cursor: pointer;
	text-transform: uppercase; 
	color: #231f20;
	margin: 0.4em 0em 0.8em 0em;
	&:before {
		content: "";
		display: block;
		float: left;
		height: 7px;
		width: 7px;
		margin: 4px 6px 0px 0px;
		background-image:url('../img/accordion-sprite.png');
		background-repeat: none;
		background-position: 0px 0px;
	}
	&.open:before {
		background-position: -7px 0px;
	}
}

.download-frame {
	@include css3-prefix (transition, height 0.2s ease-out);
	height: 0px;
	overflow: hidden;
}
.download-frame.open {
	display: block;
	height: 200px;
	padding: 0px 20px;
	border-style: solid;
	border-width: 1px;
	@include css3-prefix (border-radius, 2px);
	border-color: #d7d7d7;
	background-color: #ededed;
}


.download_empty {
	margin-top: 58px;
	text-align: center;
	span {
		font-size: 18px;
	}
	p {
		font-size: 14px;
		font-weight: lighter;
	}

}
.download_loading {
	margin-top: 85px;
	text-align: center;
	span {
		font-size: 18px;
	}

}
.download_error {
	margin-top: 58px;
	text-align: center;
	span {
		font-size: 18px;
		color: #c21d1d;
	}
	p {
		font-size: 18px;
		font-weight: lighter;
	}

}
.download_ideal {

}
.download-title {
	font-size: 16px;
	margin: 0.8em -0.2em;
	color: #1d1d1d;

	@media screen and (min-width: $break-small) {
		font-size: 20px;
	}
}
.download-details {
	dt {
		font-size: 10px;
		text-transform: uppercase;
		color: #626262;
		clear: both;
	}
	dd {
		font-size: 14px;
		margin: 0px 0px 0.6em 0px;
		color: #1d1d1d;
		float: left;
	}
}

.mail-icon {
	display: block;
	margin: 0.4em 0em;
	font-size: 14px;

	@media screen and (min-width: $break-small) {
		position: relative;
		float: right;
		margin: 0.6em 0em;
		width: 36px;
		height: 19px;
		margin: 0px 0px 0px 10px;
		text-indent: -999px;
		@include css3-prefix (border-radius, 4px);
		background-color: transparent;
		transition: background-color 0.2s ease;
		&:hover {
			background-color: #1a1a1a;
			color: green;
			&:after {
				background-position: 0px 10px;
			}
		}
		&:after {
		content: ' ';
		position: absolute;
		top: 4px;
		left: 10px;
		width: 22px;
		height: 10px;
		background-image: url('../img/mail-sprite.png');
		background-position: 0px 0px;
		}

	}
}

.download-btn {
	margin: 0px 22px 0px 0px;
	display: block;
	font-size: 18px;
	@media screen and (min-width: $break-small) {

		height: 40px;
		line-height: 40px;

		padding: 0px 18px;
		
		text-decoration: none;
		border-style: solid;
		border-width: 0px 0px 2px 0px;
		border-color: #000000;
		@include css3-prefix (border-radius, 4px);
		background-color: #363636;
		color: #e4e4e4;
		clear: both;
		transition: background-color 0.2s ease;

		span {
			float: left;
		}
		&:hover {
			color: #ffffff;
			background-color: #000000;
			> div {
				background-position-y: 0px;
			}
		}
	}	
}
.download-btn-icon {
	@media screen and (min-width: $break-small) {
		float: right;
		width: 26px;
		height: 22px;
		margin: 8px -7px 0px 14px;
		background-image: url('../img/dl-icon-sprite.png');
		background-repeat: no-repeat;
		transition: background-position 0.3s ease-out;
		&.icon-exe {
			background-position-x: -26px;
	    	background-position-y: -24px;
		}
		&.icon-zip {
			background-position-x: 0px;
	    	background-position-y: -24px;
		}
	}

}
.frame-foot {
	font-size: 10px;
	margin-top: 4em;
	padding: 1em 2em;
	text-align: right;
	color: #6a6a6a;
}